/* BUTTONS 
    - add !important flag to override current settings.
*/
.button1_desktop {
    width: 8% !important; 
}

.button2_desktop{
    width: 8% !important;
}

.button3_desktop{
    width: 8% !important;
}

/* INPUT FIELDS
    - add !important flag to override current settings.
*/
.text_input1_desktop {
    width: 90% !important;
}

.text_input2_desktop{
    width: 90% !important;
}

.text_input3_desktop{
    width: 90% !important;
}