<div class="ui basic segment min-width-100" *ngIf="doneLoading">  
    <div class="row deskContent min-width-100"  *ngIf="this.animeInfo.anime_id !== undefined">
        <div class="ui link cards custom-size-info-card-left min-width-100">
            <div class="card custom-size-info-card-left">
                <div class="image">
                <img [src]="this.animeInfo.anime_info.attributes.posterImage.large">
                </div>
                <div class="content">
                <div class="header">{{this.animeInfo.anime_info.attributes.canonicalTitle}}</div>
                <div class="meta">
                    <a>Genres</a>
                </div>
                <div class="description">                      
                    <div *ngFor="let genre of this.animeInfo.anime_genres">
                        <span *ngIf="genre !== undefined">
                        {{genre.attributes.name}},
                        </span>
                    </div>
                    <hr>
                    <p>
                        <button class="ui inverted blue button" (click)="addToFavorites(this.animeInfo)"> Add To Favorites </button>
                    </p>
                </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                    <i class="users icon"></i>
                        {{this.animeInfo.anime_info.attributes.favoritesCount}} Members 
                    </span>
                    <span>
                        <i class="star icon"></i>
                        Score {{this.animeInfo.anime_info.attributes.averageRating}} 
                    </span>
                </div>
            </div>

            <div class="card custom-size-info-card-right">
                <div class="image ">
                    <iframe  class="youtube-size " [src]="'https://www.youtube.com/embed/'+ this.animeInfo.anime_info.attributes.youtubeVideoId  | safe" frameborder="0">
                    </iframe>
                </div>
                <div class="content " >
                    <div class="header">Synopsis</div>
                    <div class="meta">
                        <span class="date"></span>
                    </div>
                    <div class="content ">
                        <div class="description" [innerHtml]="this.animeInfo.anime_info.attributes.synopsis">
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right">
                            <i class="file video outline icon"></i>
                            Status: {{this.animeInfo.anime_info.attributes.status}}
                        </span>
                        <span>
                            <i class="television icon"></i>
                            Type: {{this.animeInfo.anime_info.attributes.subtype}}
                        </span>                        
                    </div>
                </div>
            </div>
        </div>            
        <div class="divider ui"></div> 
    </div>   
    <div class="row phoneContent"  *ngIf="this.animeInfo.relations !== undefined">

        <div class="ui secondary pointing three item menu phoneContent">                
            <a class="ui item" (click)="showInfo = false; showEpisodes = true; showTrailer = false;">
                <i class="play icon ">  </i> Episodes
            </a> 
            <a class="ui item" (click)="showInfo = true; showEpisodes = false; showTrailer = false;" >
                <i class="info icon ">  </i> Anime Info
            </a>   
            <a class="ui item" (click)="showInfo = false; showEpisodes = false; showTrailer = true;" >
                <i class="film icon ">  </i> Trailer
            </a>                            
        </div>
        <div class="ui link cards min-width-100" *ngIf="showEpisodes">
            <div class="card custom-card-size-left">
                <div class="image">
                    <img  [src]="this.animeInfo.anime_info.attributes.posterImage.large">
                </div>
                    <div class="content">
                        <div class="header">{{this.animeInfo.anime_info.attributes.canonicalTitle}}</div>
                    <div class="description">                    
                        <button class="ui inverted blue button" (click)="addToFavorites(this.animeInfo)"> Add To Favorites </button>
                    </div>               
                </div>
            </div>

            <div class="card custom-card-size-right">              
                <div class="content " >
                    <div class="header">Synopsis</div>
                
                    <div class="content ">
                        <div class="description" [innerHtml]="this.animeInfo.anime_info.attributes.synopsis">
                        </div>
                    </div>
                </div>
            </div>
        </div>     
        <div class="ui link cards min-width-100" *ngIf="showInfo">
            <div class="card custom-card-size-orientation">
                <div class="image">
                <img [src]="this.animeInfo.anime_info.attributes.posterImage.large">
                </div>
                <div class="content">
                <div class="header">{{this.animeInfo.anime_info.attributes.canonicalTitle}}</div>
                <div class="description">                    
                        <button class="ui inverted blue button" (click)="addToFavorites(this.animeInfo)"> Add To Favorites </button>
                </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                    <i class="users icon"></i>
                        {{this.animeInfo.anime_info.attributes.favoritesCount}} Members 
                    </span>
                    <span>
                        <i class="star icon"></i>
                        Score {{this.animeInfo.anime_info.attributes.averageRating}} 
                    </span>
                </div>
            </div>

            <div class="card custom-card-size-orientation">
                <div class="content " >
                    <div class="header">Synopsis & Genres</div>
                    <div class="meta">
                        <span class="date"></span>
                    </div>
                    <div class="content ">
                    
                        <b>Genres:</b>
                        <span *ngIf="this.animeInfo.relations.genres !== undefined && this.animeInfo.relations.genres != ''">
                            <div *ngFor="let genre of this.animeInfo.relations.genres">
                                <span *ngIf="genre !== undefined && genre != ''">
                                {{genre.attributes.name}},
                                </span>
                            </div>
                        </span>
                        <hr>
                        <div class="description" [innerHtml]="this.animeInfo.anime_info.attributes.synopsis">
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right">
                            <i class="file video outline icon"></i>
                            Status: {{this.animeInfo.anime_info.attributes.status}}
                        </span>
                        <span>
                            <i class="television icon"></i>
                            Type: {{this.animeInfo.anime_info.attributes.subtype}}
                        </span>                        
                    </div>
                </div>
            </div>
        </div>    
        <div class="ui link cards height-100" *ngIf="showTrailer">

            <div class="card width-100 height-100">
                <iframe  class="youtube-size " [src]="'https://www.youtube.com/embed/'+ this.animeInfo.anime_info.attributes.youtubeVideoId  | safe" frameborder="0">
                </iframe>
            </div>
        </div>                
    <div class="divider ui"></div> 
    </div>    
    
    <div class="ui grid">
        <div class="sixteen wide column">
            <div *ngIf="enableAdvanced" class="ui selection dropdown fixed-width-150" >
                <input type="hidden" name="botanime" class="fixed-width-150">
                <i class="dropdown icon"></i>
                <div class="default text">All Bots</div>
                <div class="menu botlist min-width-7"  >  
                    <div class="item" (click)="showBot('all')" >All Bots</div>
                    <div class="item" *ngFor="let bot of this.animeInfo.anime_bot_sources | keys"  (click)="showBot(bot.key)"  >{{bot.key}} ({{bot.value}})</div>
                </div>
            </div>
            <div class="ui selection dropdown fixed-width-150" >
                <input type="hidden" name="resolutionAnime"  class="fixed-width-150">
                <i class="dropdown icon"></i>
                <div class="default text">{{dropdownres}}</div>
                <div class="menu min-width-7" >                    
                    <div class="item" *ngFor="let resolution of this.animeInfo.anime_resolutions | keys " (click)="showResolution(resolution.key)"  >{{resolution.key}} ({{resolution.value}})</div>  
                </div>
            </div> 
            
            <button *ngIf="enableAdvanced" class="ui inverted blue button" (click)="showAll()"> Show all </button>
            <button *ngIf="enableAdvanced" class="ui inverted blue button" (click)="closeAll()"> Close all</button>
            
            <button class="ui inverted blue button" (click)="batchAll()"> Download Full Anime (Experimental!)</button>
            <div class="ui toggle checkbox">
                <input type="checkbox" name="public" [checked]="enableAdvanced" (change)="enableOrDisableAdvanced()">
                <label>Advanced Mode</label>
            </div>
            
            <div class="divider ui"></div> 
        </div> 
    </div>
    <div class="row center-text"  *ngIf="showError">
        <h3> :( Something happend and I couldn't find files for your anime!</h3> 
        
        <div class="divider ui"></div> 

        <h4> Go to the <a href="/settings"> Settings </a> page to select search strictness, where lower means that it's more likely to find files which might not be related to the anime in question. But in case that the files have different names than the original anime title then you could use that.</h4>
    </div>
    <div *ngIf="this.animeInfo.anime_downloads.length > 0" class="ui grid">
        <div class="sixteen wide column">
            <div class="ui styled accordion min-width-100" >
                <div class="title">
                    <i class="dropdown icon"></i>
                    Already Downloaded
                </div>  
                <div class="content"> 
                    <table class="ui very unstackable basic table min-width-100 bg-white" >
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>Size</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody id="listWithDownloads">
                            <tr *ngFor="let file of this.animeInfo.anime_downloads">
                                <td id="filename_{{file.id}}">{{file.filename}}</td>
                                <td id="filename_{{file.id}}">{{(file.filesize / 1024)}} Mb</td>
                                <td id="buttons_{{file.id}}">
                                    <p>
                                        <button *ngIf="isLocal" class="min-width-100 margin-bottom-5" (click)="sendPlayRequest(file)" class="ui primary button"><i class="play icon"></i></button>                            
                                        <button *ngIf="!isLocal" class="min-width-100 margin-bottom-5" (click)="getUrl(file)" class="ui primary button"><i class="folder open outline icon"></i></button>
                                        <button *ngIf="isLocal" class="min-width-100 margin-bottom-5" (click)="sendOpenLocationRequest(file)"  class="ui primary button"><i class="folder open outline icon"></i></button>
                                    </p>
                                    <p>
                                        <button class="btn-listwithdownloads" (click)="sendDeleteRequest(file)"  class="ui primary button"><i class="trash alternate outline icon"></i></button>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>              

    <div *ngIf="showDownload" class="ui grid">
        <div class="sixteen wide column">
            <table style="border-spacing: 0;" cellspacing="0" class="ui very basic unstackable table bg-white min-width-100">
                <thead>
                    <tr>
                    <th class="width-20">File</th>
                    <th class="width-20">Size</th>
                    <th class="width-20">Status</th>
                    <th class="width-20">Progress</th>
                    <th class="width-20">Speed</th>
                    <th class="width-20">Options</th>
                    </tr>
                </thead>
                <tbody id="listWithDownloads">
                    <tr *ngFor="let download of downloads">
                        <td id="filename_{{download.id}}">{{download.filename}}</td>
                        <td id="status_{{download.id}}">{{download.filesize}} Mb</td>
                        <td id="status_{{download.id}}">{{download.status}}</td>
                        <td>
                            <div style="text-align: center;"> {{download.progress}}% </div><br/>
                            <progress class="min-width-100 min-height-15" [value]="download.progress" max="100">{{download.progress}}%</progress>
                        </td>
                        <td>                        
                            <div style="text-align: center;"> {{download.speed}} kB/s </div>
                        </td>
                        <td id="buttons_{{download.id}}">
                            <p>
                                <button *ngIf="isLocal" class="min-width-100 margin-bottom-5" (click)="sendPlayRequest(download)" class="ui primary button"><i class="play icon"></i></button>                            
                                <button *ngIf="!isLocal" class="min-width-100 margin-bottom-5" (click)="getUrl(download)" class="ui primary button"><i class="folder open outline icon"></i></button>
                                <button *ngIf="isLocal" class="min-width-100 margin-bottom-5" (click)="sendOpenLocationRequest(download)"  class="ui primary button"><i class="folder open outline icon"></i></button>
                                <button class="min-width-100 margin-bottom-5" (click)="sendAbortRequest(download)"  class="ui primary button"><i class="window close outline icon"></i></button>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="divider ui"></div> 
        </div>
    </div>  
    <i  *ngIf="this.animeInfo.anime_episodes[currentPage] === undefined " class="window close icon" style="color: white; font-size: 32px !important; " (click)="closeLoader()"> </i>
    <div class="ui grid" *ngIf="this.animeInfo.anime_episodes[currentPage] !== undefined "> 
        <div class="sixteen wide column" > 
            <div class="ui styled accordion episodeList min-width-100 " id="packs">
                <div *ngFor="let episode of this.animeInfo.anime_episodes[currentPage]; let i=index; "   >                    
                    <ng-container *ngIf="episode.files !== undefined">  
                        <ng-container *ngIf="episode.files != false && this.animeInfo.anime_total_episodes > i">     
                            <div class="title" id="{{episode.attributes.number}}" >
                                <i  *ngIf="enableAdvanced" class="dropdown icon"></i>
                                <button class="ui green inverted button" *ngIf="!enableAdvanced" (click)="selectBestEpisode(episode.attributes.number)" ><i class="cloud download icon"></i></button>
                                <button class="ui green inverted button" *ngIf="!enableAdvanced" (click)="playEpisode(episode.attributes.number)" ><i class="play icon"></i></button>
                                <label>Episode {{episode.attributes.number}} - {{episode.attributes.canonicalTitle}}</label>
                            </div>               
                            <div class="content" *ngIf="enableAdvanced" >                                
                                <table class="ui very basic unstackable table bg-white min-width-100">
                                    <thead>
                                        <tr>
                                        <th class="width-20">Download</th>
                                        <th class="width-20">Bot</th>
                                        <th class="width-20">Filename</th>
                                        <th class="width-20">FileSize</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listWithFiles" >                                    
                                        <ng-container *ngIf="!showAllResolutions"> 
                                            <tr *ngFor="let file of episode.files[resolution]; let b=index">
                                                <ng-container *ngIf="file.BotName == botname || showAllBots"> 
                                                    <td> 
                                                        <button class="ui green inverted button" (click)="appendToDownloadsDirectly(file)"><i class="cloud download icon"></i></button>
                                                        <button class="ui green inverted button" (click)="playEpisodeAdvanced(file, episode.attributes.number)"><i class="play icon"></i></button>
                                                    </td>
                                                    <td>{{file.BotName}}</td>
                                                    <td>{{file.FullFileName}}</td>
                                                    <td>{{(file.FileSize / 1024)}} Mb</td>                                                       
                                                </ng-container>
                                            </tr>                                                  
                                        </ng-container>                                  
                                        <ng-container *ngIf="showAllResolutions">      
                                            <ng-container *ngFor="let resolution of episode | keys; let a=index"> 
                                                    <tr *ngFor="let file of episode.files[resolution.key]; let b=index">
                                                        <ng-container *ngIf="file.BotName == botname || showAllBots"> 
                                                            <td> 
                                                                <button class="ui green inverted button" (click)="appendToDownloadsDirectly(file)"><i class="cloud download icon"></i></button>
                                                                <button class="ui green inverted button" (click)="playEpisodeAdvanced(file, file.attributes.number)"><i class="play icon"></i></button>
                                                            </td>
                                                            <td>{{file.BotName}}</td>
                                                            <td>{{file.FullFileName}}</td>
                                                            <td>{{(file.FileSize / 1024)}} Mb</td>                                                            
                                                        </ng-container>
                                                    </tr>                                                      
                                                </ng-container>                                             
                                        </ng-container>  
                                    </tbody>                                
                                </table>                        
                            </div>                                         
                        </ng-container>                                              
                    </ng-container>            
                </div>     
            </div>
            <div class="ui labels">
                <a class="ui big label" (click)="firstPage()">
                    <i class="icon angle left" ></i> 
                    <i class="icon angle left" ></i>
                </a>
                <a class="ui big label" (click)="prevPage()">
                    <i class="icon angle left"></i> 
                </a>
                <div class="ui icon input" >
                    <input #pageInput (keyup.enter)="specificPage(pageInput.value)" class="prompt" type="text" [(ngModel)]="currentPage">
                </div>
                <a class="ui big label" (click)="nextPage()">
                    <i class="icon angle right" ></i> 
                </a>
                <a class="ui big label" (click)="lastPage()">
                    <i class="icon angle right" ></i> 
                    <i class="icon angle right" ></i>
                </a>
            </div>      
            <hr>
        </div>
    </div> 
</div>
  
   
