/* global styling by daniel-law */

.btn {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em 0.1em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    margin: 0em 0.5em 0em 0em;
    text-transform: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
}

.grey {
    box-shadow: 0px 0px 0px 2px grey inset !important;
    color: grey;
}

.grey:hover {
    box-shadow: none !important;
    color: rgb(0, 162, 255);
    box-shadow: 0px 0px 0px 2px rgb(0, 162, 255) inset !important;
}

.blue {
    color: rgb(0, 162, 255);
    box-shadow: 0px 0px 0px 2px rgb(0, 162, 255) inset !important;
}

.bg-white{
    background-color: white !important;
}

/* custom backgrounds */
.transparant-grey-bg{
    background: rgba(0,0,0,0.85);
}


/* displays */
.display-flex {
    display: flex !important;
}

.display-grid{
    display: grid !important;
}

/* some image size stuff */
.cover-size-ssml{
    width : 144px !important;
    height : 207px !important;
}

.cover-size-sml{
    width : 153px !important;
    height : 220px !important;
}

.cover-size-med{
    width: 225px !important;
    height: 323px !important;

}

.cover-size-lrg{
    width : 450px !important;
    height : 646px !important;
}


/* global column stuff */
.custom-container{
    min-width: 85% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.custom-column.column {
  width: 228px !important;
}

/* global sizing */
.fixed-width-50{
    width: 50px !important;
    min-width: 50px !important;
    max-width: 50px !important;
}

.fixed-width-100{
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
}

.fixed-width-150{
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.fixed-width-200{
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    
}

.fixed-width-400{
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}

.fixed-width-800{
    width: 800px !important;
    min-width: 800px !important;
    max-width: 800px !important;
}

.width-7 {
    width : 7% !important;
}

.width-10 {
    width : 10% !important;
}

.width-20{
    width: 20% !important;
}

.width-30{
    width: 30% !important;
}

.width-100{
    width: 100% !important;
}

.min-width-7{
    min-width: 7% !important;
}

.min-width-60{
    min-width: 60% !important;
}

.min-width-70{
    min-width: 70% !important;
}

.min-width-80{
    min-width: 80% !important;
}

.min-width-90{
    min-width: 90% !important;
}

.min-width-100{
    min-width: 100% !important;
}

.max-width-7{
    max-width: 7% !important;
}

.max-width-20{
    max-width: 20% !important;
}

.max-width-100{
    max-width: 100% !important;
}

.height-100{
    height: 100% !important;
}

.max-height-100{
    max-height: 100% !important;
}

.min-height-15{
    min-height: 15% !important;
}

.min-height-70{
    min-height: 70% !important;
}

.min-height-100{
    min-height: 100% !important;
}

/* global positioning */
.margin-left-1{
    margin-left: 1% !important;
}

.margin-left-20{
    margin-left: 20% !important;
}

.margin-left-30{
    margin-left: 30% !important;
}

.margin-top-1{
    margin-top: 1% !important; 
}

.margin-top-2{
    margin-top: 2% !important; 
}

.margin-top-10{
    margin-top: 10% !important;
}

.margin-bottom-5{
    margin-top: 5% !important; 
}


/* global overflow */
.overflow-y-auto{
    overflow-y: auto !important;
}

.overflow-x-auto{
    overflow-x: auto !important;
}

.overflow-y-hidden{
    overflow-y: hidden!important;
}

.overflow-x-hidden{
    overflow-x: hidden!important;
}

.overflow-y-scrollable{
    overflow-y: scroll!important;
}

.overflow-x-scrollable{
    overflow-x: scroll!important;
}

/* global positioning */

.position-relative{
    position:relative !important;
}

.position-fixed{
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.bottom-0{
    bottom: 0 !important;
}

/* global center stuff */
.full-center{
    margin: 0 auto !important;
}

/* global text stuff */
.center-text{
    text-align: center !important;
}

.white-text{
    color : white !important;
}

.text-overflow-dots{
    white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* settings.component */
.btn-settings{
    width: 8% !important;
}

.text-input-settings{
    width: 90% !important;
}

/* animeinfo.component */
.card-content-desktop-animeinfo{
    min-height: 700px !important; 
    overflow-y:auto !important;
}

.card-content-mobile-animeinfo{
    min-height: 150px !important; 
    overflow-y:auto !important;
}

.description-mobile-animeinfo{
    min-height: 80px !important;
}

.dropdown-mobile-spacing-animeinfo{
    width: 7% !important;
    margin-left: 6% !important;
}

.stackable-table-mobile-animeinfo{
    border-collapse: separate !important; 
    border-spacing: 5px 0 !important;
}

.custom-size-info-card-left{
    width: calc(100% - 85%) !important;
}

.custom-size-info-card-right{
    width: calc(100% - 18%)!important; 
}

.youtube-size{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* app.component */

.pusher-extra{
    max-width: calc(100% - 250px); 
}


/* downloads.component */
.btn-listwithdownloads{
    width: 200px !important;
}

/* currentlyairing.component */
.p-custom1-currentlyairing{
    text-align: center !important; 
}

.btn-custom1-curentlyairing{
    width: 45%  !important; 
    margin-left: 5% !important;  
    margin-bottom: 10px !important; 
}

.btn-custom2-curentlyairing{
    width: 45%  !important; 
    margin-bottom: 10px !important; 
}

.card-custom-width-ssml-currentlyairing{
    width : 144px !important;
}

.card-custom-width-sml-currentlyairing{
    width : 153px !important;
}

.card-custom-width-med-currentlyairing{
    width : 225px !important;
}

.card-custom-width-lrg-currentlyairing{
    width : 450px !important;
}

.accordion-custom{
    min-width:calc(100%-300px) ;
}

/* about.component */
.custom-text1-about{
    color: rgb(68, 68, 68) !important; 
    font-family: Tahoma, Arial, Helvetica, sans-serif !important; 
}

.custom-text2-about{
    color: rgb(51, 51, 51) !important; 
    font-family: Verdana, Arial, sans-serif !important;
    text-align: justify !important;
}

.custom-text3-about{
    margin: 0.5em 0px !important;
    line-height: inherit !important; 
    color: rgb(37, 37, 37) !important; 
    font-family: sans-serif !important; 
    font-size: 14px !important;
}
.custom-text4-about{
    line-height: 1.5em !important; 
    margin: 0.3em 0px 0px 3.2em !important; 
    padding: 0px !important; 
    list-style-image: none !important; 
    color: rgb(37, 37, 37) !important; 
    font-family: sans-serif !important; 
    font-size: 14px !important;
}

.li-custom1-about{
    margin-bottom: 0.1em !important;
}

/* filedialog.component */

.custom-content-filedialog{
    text-align: center !important;
    max-height: 400px !important;
}

/* favorites.component */


.btn-custom1-favorites{
    width: 45%  !important; 
    margin-left: 5% !important;  
    margin-bottom: 10px !important; 
}

/* menu.component */
.menu-extra{ 
    min-height: 100% !important;
}

.side-bar-width{
    max-width: 100px !important;
}

.push-width{
    min-width: calc(100% - 100px) !important;
}

.menu-quote {
    font-size: 8pt;
}


/* some global shit */
.card-content-height{
    max-height: 38px;
}

.card-content-height-sml{
    max-height: 28px;
}

.card-content-height-lrg{
    max-height: 48px;
}

.card-content-text{
    white-space: nowrap;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 14pt;
}



.card-content-text-sml{
    white-space: nowrap;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 10pt;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    min-width: 100%;
    z-index: 1900;
    border: 1px solid #d4d4d5;
    line-height: 1.4285em;
    max-width: 250px;
    background: #fff;
    padding: .833em 1em;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);

    bottom: 100%;
    margin-top: 10px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 14pt;
}

/* sliders */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #21BA45;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #21BA45;
    cursor: pointer;
    
}

/*some fixed stuff */
.custom-fixed {
    position: fixed !important;
}


.stuck-to-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
 }

/* Some stuff to hide stuff on mobile and large screens n' stuff */
@media screen and (min-height: 480px) and (orientation:landscape) {
    .deskContent { visibility: visible !important;}
    .phoneContent {display:none !important; visibility: hidden !important;}
    
    .pusher{       
        max-height: 100% !important;
    }
    .max-height-size-depended{
         top: 0 !important;
    }
}

@media screen and ( max-height: 480px) and (orientation:landscape) {
    .deskContent {display:none !important; visibility: hidden !important;}
    .phoneContent {visibility: visible !important;}
    .max-height-size-depended{
         top: 45px !important;
    }

    .pusher{
        -webkit-transform: translate3d(0px, 0, 0)!important;
        max-height: calc(100% - 45px) !important;
    }

    .pusher-extra{
        min-width: 100% !important;
        max-width:  100% !important;
        margin: 0px !important;
    }
    
}

@media screen and (min-width: 480px) and (orientation:portrait) {
    .deskContent { visibility: visible !important;}
    .phoneContent {display:none !important; visibility: hidden !important;}
    .pusher{       
        max-height: 100% !important;
    }
    .max-height-size-depended{
         top: 0 !important;
    }
}

@media screen and ( max-width: 480px) and (orientation:portrait) {
    .deskContent {display:none !important; visibility: hidden !important;}
    .phoneContent {visibility: visible !important;}
     .max-height-size-depended{
        top: 45px !important;
    }

    .pusher{
        -webkit-transform: translate3d(0px, 0, 0)!important;
        max-height: calc(100% - 45px) !important;
    }

    .pusher-extra{
        min-width: 100% !important;
        max-width:  100% !important;        
        margin: 0px !important;
    }
    
}

@media screen and (orientation: portrait){
    .custom-card-size-orientation{
        min-width: 100% !important; 
    }
}

@media screen and (orientation: landscape){
    .custom-card-size-orientation{
        width: calc(100% / 2 - 14px) !important;
    }

    .custom-card-size-left{
        width: 175px !important;
    }

    .custom-card-size-right{
        width: calc(100% - 203px) !important;
    }
}

/* center stuff */
.wrapper {
  text-align: center;
}
.wrapper-centered {
  display: inline-block;
}

/* absolute to front */

.tofront{
    z-index: 9999 !important;
}

/* float  */
.fleft{
    float: left !important;
}

/* float right */
.fright{
    float: right !important;
}

/* custom notifications stuff */

.custom-notification {
    min-width: calc(100% - 20px); /* Set a default minimum width */
    margin-left: calc(10px); /* Divide value of min-width by 2 */
    margin-right: calc(100% - 10px);
    background-color: #21BA45; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 0.28571429rem; /* Rounded borders */
    padding: 16px; /* Padding */
    z-index: 1; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
    margin-top: 10px;

}